.home{
    width: 100%;
    margin-top: 60px;
}
.home-top{
    display: flex;
    justify-content: space-between;
    background-color: #01CB63;
    height: 100%;
}

.home-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    padding: 1% 8%;
    font-size: 45px;
}

.text{
    font-size: 30px;
    padding: 1% 8%;
}
 
.btn{
    border: none;
    color: white;
    background-color: black;
    font-size: larger;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 13px;
    cursor: pointer;
}

/* .home-right{
    display: flex;
    width: 100%;
    padding: 0;
    align-items: center;
} */

.home-top > img{
    opacity: 0.7;
    width: 50%;
    height: auto;
}

.home-bottom{
    display: flex;
    justify-content: space-around;
    margin: 4% 6%;
    padding: 1% 2%;
}

@media screen and (max-width:475px) {
    .home-top{
        flex-direction: column;
    }
    .home-left{
        width: 95%;
    }
    .home-top > img{
        width: 100%;
    }
    .home-bottom{
        flex-direction: column;
    }
}