.testimonial-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.testimonial-card > p{
    width: 60%;
}

.student-info{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 1% 1%;
}

.testimonial-card-avatar{
    display: flex;
    align-items: center;
    font-size: smaller;
}

.testimonial-card-avatar > div{
    margin-left: 2px;
}